# Build artifacts
pkg
build

# Ruby / Bundler
Gemfile.lock
.ruby-gemset
.ruby-version
.bundle

# simplecov coverage reports
coverage/
.rspec_status

# .vagrant dirs
.vagrant

# IDE config files
.idea
*.iml
